.body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow-y: scroll;
}

.website {
    // max-width: 1920px;
    min-width: 320px;
    min-height: 100vh;

    margin: 0 auto;
    display: grid;

    // (header:fixed) 
    // 1fr div:main-content 
    // auto div:footer 
    grid-template-rows: 1fr auto;

    // grid container padding for mobiles
    .container {

        @include media-breakpoint-only(xxl) {}

        @include media-breakpoint-only(xl) {}

        @include media-breakpoint-only(lg) {}

        @include media-breakpoint-only(md) {}

        @include media-breakpoint-only(sm) {
            padding: 0 25px;
        }

        @include media-breakpoint-only(xs) {
            padding: 0 10px;
        }
    }
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;

    z-index: 100;

    margin: 0 auto;
    background-color: #ffffff;

    // max-width: 1920px;
    min-width: 320px;

    >.container {
        height: 120px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: center;

        transition: height .2s;

        @include media-breakpoint-only(xxl) {
            width: 1320px;
        }

        @include media-breakpoint-only(xl) {
            width: 1140px;
        }

        @include media-breakpoint-only(lg) {
            width: 960px;
        }

        @include media-breakpoint-only(md) {
            width: 720px;
            height: 70px;
        }

        @include media-breakpoint-only(sm) {
            width: auto;
            height: 70px;
        }

        @include media-breakpoint-only(xs) {
            width: auto;
            height: 70px;
        }
    }
}

.main {
    padding-top: 120px;
    transition: padding-top .2s;
}

.footer {
    background: linear-gradient(#f7f7f8, #ecf0fb);
    border-bottom: 1px solid #d7dde8;
    border-top: 1px solid #e1e3e5;

    >.container {
        margin: 0 auto;

        @include media-breakpoint-only(xxl) {
            width: 1320px;
        }

        @include media-breakpoint-only(xl) {
            width: 1140px;
        }

        @include media-breakpoint-only(lg) {
            width: 960px;
        }

        @include media-breakpoint-only(md) {
            width: 720px;
        }

        @include media-breakpoint-only(sm) {
            width: auto;
        }

        @include media-breakpoint-only(xs) {
            width: auto;
        }
    }

    .columns {
        min-height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .copyright {
        min-height: 50px;
        border-top: 1px solid #dddddd;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.scroll {

    .header {
        box-shadow: 0 3px 6px rgba(0, 0, 0, .1);

        .container {
            height: 70px;

            @include media-breakpoint-only(xxl) {}

            @include media-breakpoint-only(xl) {}

            @include media-breakpoint-only(lg) {}

            @include media-breakpoint-only(md) {
                height: 50px;
            }

            @include media-breakpoint-only(sm) {
                height: 50px;
            }

            @include media-breakpoint-only(xs) {
                height: 50px;
            }

            .donate {
                height: 30px;
            }
        }
    }

    .main {
        // padding-top: 70px;
    }
}