@import "./variables/variables";
@import "./functions/breakpoints";
@import "./fonts/fonts";
@import "./layout/base";

@import "./landing/landing";
@import "./landing/first";

@import "./header/header";
@import "./footer/footer";

@import "./menu/main-menu-mobile";
@import "./callback/callback-modal";

.preloader {
    display: none;
    opacity: 0;
}

.options {
    display: none;
    opacity: 0;
}

.main-menu-mobile {
    display: none;
    opacity: 0;
}

.callback-modal {
    display: none;
    opacity: 0;
}

.d {
    display: block;
}

.a {
    opacity: 1;
}

.scrolloff {
    overflow: hidden;
}

.open {
    transform: translateX(-225px);
}